@font-face {
  font-family: "AvantGardeGothicITC W05 Book";
  src: url("./scss/Fonts/5177111/dd26c04e-c3cb-4a0b-a9f5-a0b83df0585f.woff2") format("woff2"), url("/scss/Fonts/5177111/15803ea2-070e-4fed-aa90-f558a2267c5b.woff") format("woff");
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "AvantGardeGothicITC W05 Book";
  width: 100%;
  overflow-x: hidden;
}

.main-wrapper {
  overflow-x: hidden;
}

ul {
  padding: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 2.1rem;
  margin: 0;
  margin-bottom: 0px;
  line-height: 1.4;
  letter-spacing: 1px;
}
@media (min-width: 1023px) {
  h1 {
    font-size: 3.5rem;
  }
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
  margin: 0;
}

.hero-image {
  background-image: url("../img/landing-page-photo-uncompressed.jpg");
}

.button-white {
  width: 160px;
  height: 60px;
  border: 2px solid #fff;
  background: #000000;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  transition: all 0.2s ease;
}
.button-white:hover {
  cursor: pointer;
  background: #ffffff;
  color: #000000;
}

.button-black {
  width: 160px;
  height: 60px;
  border: 2px solid #000000;
  background: transparent;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  transition: all 0.2s ease;
}
.button-black:hover {
  cursor: pointer;
  color: #ffffff;
  border: 2px solid #ffffff;
  background: #dad8d8;
}

@font-face {
  font-family: "AvantGardeGothicITC W05 Book";
  src: url("./scss/Fonts/5177111/dd26c04e-c3cb-4a0b-a9f5-a0b83df0585f.woff2") format("woff2"), url("/scss/Fonts/5177111/15803ea2-070e-4fed-aa90-f558a2267c5b.woff") format("woff");
}
.nav-bar {
  height: 50px;
}

.nav-items {
  display: none;
  background: #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.nav-item {
  margin-bottom: 50px;
}

.visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  visibility: visible;
  position: fixed;
  opacity: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
}

#nav-toggle {
  position: absolute;
  right: 2rem;
  top: 56px;
  z-index: 2000;
  width: 30px;
  height: 30px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 30px;
  background: #000000;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -8px;
}
#nav-toggle span:after {
  bottom: -8px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
#nav-toggle.active {
  display: block;
}

#nav-toggle-overlay {
  position: absolute;
  right: 2rem;
  top: 47px;
  cursor: pointer;
  z-index: 2000;
  width: 30px;
  height: 22px;
}

@media (min-width: 769px) {
  #nav-toggle {
    display: none;
  }

  .nav-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .nav-items {
    display: flex;
    flex-direction: row;
    position: static;
    align-items: center;
    justify-content: flex-end;
    background: none;
  }

  .nav-item {
    margin: 0 0 10px 40px;
  }
}
.landing-page-wrapper {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-page-content-wrapper {
  position: relative;
  height: auto;
  padding: 2rem 2rem 0 2rem;
}
@media (min-width: 769px) {
  .landing-page-content-wrapper {
    margin: 0 auto;
    width: 85vw;
    padding-top: 2%;
  }
}
@media (min-width: 1420px) {
  .landing-page-content-wrapper {
    width: 1210px;
  }
}

.logo {
  background-image: url(../img/logo-uncompressed.png);
  width: 127px;
  height: 100px;
  background-size: cover;
  position: absolute;
  top: 35px;
  left: 10px;
}
@media (min-width: 769px) {
  .logo {
    width: 160px;
    height: 126px;
    top: 24px;
    left: -10px;
  }
}

.hero-image {
  background-image: url(../img/landing-page-photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 120vw;
  background-position-x: 60%;
  background-position-y: bottom;
}
@media (min-width: 769px) {
  .hero-image {
    height: 50vw;
    margin-left: 50px;
    margin-top: 45px;
    margin: 0;
  }
}
@media (min-width: 1420px) {
  .hero-image {
    max-height: 690px;
  }
}

.social-badges {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  width: 100%;
  margin: 3rem 0;
}
@media (min-width: 769px) {
  .social-badges {
    font-size: 1.9rem;
  }
}
.social-badges li {
  margin: 0 10px;
}

.music-page-wrapper {
  background-color: black;
}

.music-page-inner-wrapper {
  padding: 4rem 0;
}
@media (min-width: 769px) {
  .music-page-inner-wrapper {
    width: 85vw;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 7rem 2rem 7rem 2.9rem;
    height: 408px;
  }
}
@media (min-width: 1420px) {
  .music-page-inner-wrapper {
    width: 1210px;
  }
}

.music-page-image {
  width: 91vw;
  height: 93vw;
  margin: 0 auto;
  background-image: url(../img/album-cover.jpg);
  background-size: contain;
  background-position-y: top;
  background-repeat: no-repeat;
}
@media (min-width: 769px) {
  .music-page-image {
    width: 430px;
    height: 430px;
    margin: 0;
  }
}

.music-page-text {
  color: #ffffff;
  text-align: center;
}
@media (min-width: 769px) {
  .music-page-text {
    text-align: left;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.music-page-text h1 {
  margin-bottom: 1.5rem;
}
@media (min-width: 769px) {
  .music-page-text h1 {
    margin-bottom: 3rem;
  }
}

#listen {
  text-align: center;
  padding: 2.5rem 0;
}

.bio-page-wrapper {
  background: url("../img/trees-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bio-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 4rem 0;
  font-size: 1.5rem;
  width: 80vw;
}
@media (min-width: 769px) {
  .bio-text {
    font-weight: 400;
    font-size: 2rem;
    width: 560px;
  }
}
@media (min-width: 1023px) {
  .bio-text {
    width: 1000px;
  }
}

.bio-text button {
  margin-top: 2rem;
}

.about-page-wrapper {
  min-height: 100vh;
}

.about-main-wrapper {
  background: url("../img/trees-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.about-text {
  margin: 7rem auto;
}

.contact-page-wrapper {
  height: 50vw;
  width: 100vw;
  background-image: url("../img/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-link {
  color: white;
  text-align: center;
  position: relative;
  border-bottom: 7px solid #ffffff;
}
@media (min-width: 769px) {
  .contact-link {
    margin-right: 1rem;
    font-size: 4.4rem;
  }
}
.contact-link:hover {
  cursor: pointer;
}

.contact-text-container {
  padding: 3rem;
  height: 2rem;
}

.overlay {
  z-index: 0;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

.smaller-text {
  font-size: 1.5rem;
}

.email {
  font-size: 1.1rem;
}

/*# sourceMappingURL=main.css.map */
