.about-page-wrapper {
    min-height: 100vh;
}

.about-main-wrapper {
    background: url('../img/trees-v2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.about-text {
    margin: 7rem auto;
}