.bio-page-wrapper {
    background: url("../img/trees-v2.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bio-text {
    @include poppins-text;
    margin: 4rem 0;
    font-size: 1.5rem;
    width: 80vw;
    @media(min-width: $screen-tablet-narrow) {
        font-weight: 400;
        font-size: 2rem;
        width: 560px;
        margin: 8rem 0;
    }
    @media(min-width: $screen-tablet-large) {
        width: 1000px;
    }
}

.bio-text a {
    color: #30475e;
    transition: border 0.2s;
    border-bottom: 2px solid rgb(48, 71, 94, 0);
    &:hover {
        border-color: rgb(48, 71, 94, 1);
    }
}

.bio-text button {
    margin-top: 2rem;
}

// Old way of styling links, doesn't span line 
// .cool-link {
//     position: relative;
//     &:after {
//         content: '';
//         position: absolute;
//         bottom: -0.1em;
//         left: 50%;
//         right: 50%;
//         height: 1px;
//         background: currentColor; // system color
//         transition: all ease .2s;
//     }
//     &:hover:after {
//         left: 0;
//         right: 0;
//         height: 6px;
//     }
//     &:before {
//         position: absolute;
//         transform: translateX(-100%);
//         left: -10px;
//         color: #eee;
//         opacity: .3;
//         font-weight: 100;
//         font-size: .8em;
//     }
// }
.invisible-line {
    visibility: hidden;
}