.bio-page-wrapper {
    background: url("../img/trees-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bio-text {
    @include poppins-text;
    margin: 4rem 0;
    font-size: 1.5rem;
    width: 80vw;
    @media(min-width: $screen-tablet-narrow) {
        font-weight: 400;
        font-size: 2rem;
        width: 560px;
    }
    @media(min-width: $screen-tablet-large) {
        width: 1000px;
    }
}

.bio-text button {
    margin-top: 2rem;
}