.contact-page-wrapper {
    height: 50vw;
    width: 100vw;
    background-image: url('../img/contact-photo-v2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-link {
    color: white;
    text-align: center;
    position: relative;
    border-bottom: 7px solid $white;
    @media (min-width: $screen-tablet-narrow) {
        margin-right: 1rem;
        font-size: 4.4rem;
    }
    &:hover {
        cursor: pointer;
    }
}

.contact-text-container {
    padding: 3rem;
    height: 2rem;
}

.overlay {
    z-index: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

.smaller-text {
    font-size: 1.5rem;
}

.email {
    font-size: 1.1rem;
}