.landing-page-wrapper {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-page-content-wrapper {
    position: relative;
    height: auto;
    padding: 2rem 2rem 0 2rem;
    @media (min-width: $screen-tablet-narrow) {
        margin: 0 auto;
        width: 85vw;
        padding-top: 2%;
    }
    @media (min-width: $screen-desktop-large) {
        width: 1210px;
    }
}

.logo {
    background-image: url(../img/logo-uncompressed.png);
    width: 127px;
    height: 100px;
    background-size: cover;
    position: absolute;
    top: 35px;
    left: 10px;
    @media (min-width: $screen-tablet-narrow) {
        width: 160px;
        height: 126px;
        top: 24px;
        left: -10px;
    }
}

.hero-image {
    background-image: url(../img/landing-page-photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vw;
    background-position-x: 60%;
    background-position-y: bottom;
    @media (min-width: $screen-tablet-narrow) {
        height: 50vw;
        margin-left: 50px;
        margin-top: 45px;
        margin: 0;
    }
    @media (min-width: $screen-desktop-large) {
        max-height: 690px;
    }
}

.social-badges {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    width: 100%;
    margin: 3rem 0;
    @media (min-width: $screen-tablet-narrow) {
        font-size: 1.9rem;
    }
    & li {
        margin: 0 10px;
    }
}