.landing-page-wrapper {
    width: 100vw;
    height: auto;
    @media (min-width: $screen-tablet-narrow) {
        // height: 100vh;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-page-content-wrapper {
    margin: 0 auto;
    position: relative;
    width: 93vw;
    height: auto;
    padding-right: 25px;
    @media (min-width: $screen-tablet-narrow) {
        // max-height: 92vh;
    }
}

.logo {
    background-image: url(../img/logo-uncompressed.png);
    width: 127px;
    height: 100px;
    background-size: cover;
    position: absolute;
    top: 35px;
    left: 10px;
}

.hero-image {
    background-image: url(../img/landing-page-photo-uncompressed.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vw;
    margin-left: 7%;
    margin-top: 32px;
    background-position-x: 60%;
    background-position-y: bottom;
    @media (min-width: $screen-tablet-narrow) {
        height: 50vw;
        margin-left: 50px;
        margin-top: 45px;
    }
}

.social-badges {
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    width: 100%;
    margin: 25px 0;
    @media (min-width: $screen-tablet-narrow) {
        font-size: 1.9rem;
        margin: 30px;
    }
    & li {
        margin: 0 10px;
    }
}