.music-page-wrapper {
    width: 100vw;
    height: 550px;
    padding-top: 10px;
    background-color: $music-page-background;
    @media (min-width: $screen-smaller) {
        height: 600px;
    }
    @media (min-width: $screen-small) {
        height: 650px;
    }
    @media (min-width: $screen-tablet-narrow) {
        height: 655px;
    }
    @media (min-width: $screen-tablet-large) {
        .music-page-wrapper {
            display: flex;
            flex-direction: column;
            height: 750px;
        }
    }
}

@media (min-width: $screen-tablet-large) {
    .music-page-inner-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        padding: 0 50px;
    }
}

.music-page-image {
    width: 275px;
    height: 275px;
    margin: 50px auto;
    background-image: url(../img/music-page-photo-uncompressed.jpg);
    background-size: cover;
    background-position-y: bottom;
    background-repeat: no-repeat;
    @media (min-width: $screen-smaller) {
        width: 325px;
        height: 350px;
    }
    @media (min-width: $screen-small) {
        width: 365px;
        height: 375px;
    }
    @media (min-width: $screen-tablet-large) {
        width: 531px;
        height: 531px;
        margin: 0 50px 0 0;
    }
}

.music-page-text {
    text-align: center;
    color: $font-white;
}