.music-page-wrapper {
    background-color: $music-page-background;
    @media (min-width: $screen-tablet-narrow) {
        .music-page-wrapper {
            display: flex;
            flex-direction: column;
            padding-bottom: 6rem;
        }
    }
}

.music-page-inner-wrapper {
    padding-bottom: 5rem;
    @media (min-width: $screen-tablet-narrow) {
        display: flex;
        align-items: center;
        width: 85vw;
        margin-left: 4.5rem;
        padding-bottom: 5rem;
        justify-content: flex-start;
    }
}

.music-page-image {
    width: 91vw;
    height: 93vw;
    margin: 0 auto;
    background-image: url(../img/album-cover.jpg);
    background-size: contain;
    background-position-y: top;
    background-repeat: no-repeat;
    @media (min-width: $screen-tablet-narrow) {
        width: 42vw;
        height: 42vw;
        margin: 0;
    }
}

.music-page-text {
    color: $font-white;
    text-align: center;
    @media (min-width: $screen-tablet-narrow) {
        text-align: left;
    }
}

.music-page-text p,
.music-page-text h4 {
    margin-left: 2rem;
}

#listen {
    text-align: center;
    padding: 2.5rem 0;
}