.music-page-wrapper {
    background-color: $music-page-background;
}

.music-page-inner-wrapper {
    padding: 4rem 0;
    @media (min-width: $screen-tablet-narrow) {
        width: 85vw;
        display: flex;
        justify-content: flex-start;
        margin: 0 auto;
        padding: 7rem 2rem 7rem 2.9rem;
        height: 408px;
    }
    @media (min-width: $screen-desktop-large) {
        width: 1210px;
    }
}

.music-page-image {
    width: 91vw;
    height: 93vw;
    margin: 0 auto;
    background-image: url(../img/album-cover.jpg);
    background-size: contain;
    background-position-y: top;
    background-repeat: no-repeat;
    @media (min-width: $screen-tablet-narrow) {
        width: 430px;
        height: 430px;
        margin: 0;
    }
}

.music-page-text {
    color: $white;
    text-align: center;
    @media (min-width: $screen-tablet-narrow) {
        text-align: left;
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.music-page-text h1 {
    margin-bottom: 1.5rem;
    @media (min-width: $screen-tablet-narrow) {
        margin-bottom: 3rem;
    }
}

#listen {
    text-align: center;
    padding: 2.5rem 0;
}