@import '_variables.scss';
.nav-bar {
    height: 50px;
}

.nav-items {
    display: none;
    background: #ffffff;
    @include poppins-light;
}

.nav-item {
    margin-bottom: 50px;
}

.visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    visibility: visible;
    position: fixed;
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2000;
}

#nav-toggle {
    position: absolute;
    right: 2rem;
    top: 56px;
    z-index: 2000;
    width: 30px;
    height: 30px;
    span,
    span:before,
    span:after {
        cursor: pointer;
        border-radius: 1px;
        height: 4px;
        width: 30px;
        background: $black;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
    }
    span:before {
        top: -8px;
    }
    span:after {
        bottom: -8px;
    }
    &.active span {
        background-color: transparent;
        &:before,
        &:after {
            top: 0;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
    &.active {
        display: block;
    }
}

#nav-toggle-overlay {
    position: absolute;
    right: 2rem;
    top: 47px;
    cursor: pointer;
    z-index: 2000;
    width: 30px;
    height: 22px;
}

@media (min-width: $screen-tablet-narrow) {
    #nav-toggle {
        display: none;
    }
    .nav-bar {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .nav-items {
        display: flex;
        flex-direction: row;
        position: static;
        align-items: center;
        justify-content: flex-end;
        background: none;
    }
    .nav-item {
        margin: 0 0 10px 40px;
    }
}